---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Competitions" sideBarActiveItemID="event">
  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5">Summer Camp</div>
  </div> -->
  <!-- <HorizontalCard
    title="2023 HPC x AI summer camp"
    img="/2023_HPC_summer_camp.jpg"
    desc="參加令人振奮的超算夏令營，成為夏天最具潛力的超算專家，由國家高速網路與計算中心與國立清華大學合辦，透過真實超級電腦和應用程式的接觸，得以學習到平行計算程式設計和效能分析經驗。"
    badge="NEW"
    url="/blog/2023_hpcxai_summer_camp"
  /> -->
  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
  <div>
    <div class="text-3xl w-full font-bold mb-5">Winter Camp</div>
  </div>

  <HorizontalCard
    title="Student Cluster Competition 招募說明會"
    img="/SCC_recruitment.jpeg"
    desc="加入清大頂尖的超算團隊，學習高性能計算知識並贏得榮耀"
    badge="NEW"
    url="/blog/scc_recruitment"
  />
  <div class="divider my-0"></div>
  <!-- <HorizontalCard
    title="SCC 24 Training Camp"
    img="/SC24_training_camp.jpg"
    desc=""
    url="#"
  /> -->
</BaseLayout>
